<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>글 쓰기</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="/js/api.js"></script>
    <script>
        authCheck();
    </script>
</head>
<body>
<% if (locals.post) { %>
    <div class="field">
        <label class="label">제목</label>
        <div class="control">
            <input class="input" type="text" id="title" value="<%= post.title %>">
        </div>
        <label class="label">내용</label>
        <div class="control">
            <input class="input" type="text" id="content" value="<%= post.content %>">
        </div>
        <button class="button" onclick="modify(<%= post.postId %>)">수정하기</button>
        <button class="button" onclick="del(<%= post.postId %>)">삭제하기</button>

    </div>
<% } else { %>
    <div class="field">
        <label class="label">제목</label>
        <div class="control">
            <input class="input" type="text" id="title">
        </div>
        <label class="label">내용</label>
        <div class="control">
            <input class="input" type="text" id="content">
        </div>
        <button class="button" onclick="post()">등록하기</button>
    </div>
<% } %>
</body>
</html>